@import "tailwindcss";



#vanta-bg {
  width: 100%;
  height: 100vh; /* Full viewport height */
  position: relative; /* or absolute/fixed depending on layout */
  z-index: 0; /* Optional: control stacking */
}
